@import "../styles/animation.scss";

.register-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 100px;
    padding-left: 100px;

    .tabs-btn {
        color: var(--black);
    }

    .tabs-btn::before {
        width: 200px;
        right: initial;
        
    }

    .register-heading {
        font-size: 32px;
        margin-bottom: 24px;
        color: var(--black);
    }
    
    .register-input-container {
        display: flex;
        margin-bottom: 16px;
        align-items: center;
    }
    
    .register-label {
        color: var(--black);
        font-weight: bold;
        width: 50px;
        margin-right: 20px;
        display: inline-block;
    }
    
    .register-input {
        padding: 8px;
        border: var(--border-in-light);
        color: var(--black);
        background-color: var(--white);
        border-radius: 4px;
        font-size: 14px;
        width: 300px;
        margin-right: 20px;
        text-align: left;
        height: 40px;
    }

    .login-password-input {
        width: 300px !important;
        border: var(--border-in-light);
        color: var(--black);
        background-color: var(--white);
        border-radius: 4px;
        font-size: 14px !important;
        text-align: left !important;
        height: 40px;
        margin-right: 20px;
        display: flex;
        padding: 0 10px 0 8px;
        position: relative;
    }

    .login-password-input::placeholder {
        color: red;
        font-style: italic;
    }

    .login-password-input > input {
        text-align: left;
    }

    .login-password-input > span {
        position: absolute;
        right: 10px;
        top: 12px;
    }

    .r-container {
        display: flex;
        align-items: center;
    }

    .register-button {
        padding: 8px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        width: 120px;
        margin-right: 20px;
    }
    
    .register-button:hover {
        background-color: #0056b3;
    }
    
    .register-button:active {
        background-color: #003380;
    }

    .to-register {
        color: #007bff;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
    }

    .to-register:hover {
        color: #0056b3;
    }
    
    .to-register:active {
        color: #003380;
    }
}

